.login-container {
    min-height: 100vh;
    min-height: 100svh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.form {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 3.2rem 2.2rem;
    background-color: var(--light);
    border-radius: .9rem;
    border: var(--border);
    box-shadow: var(--boxshadow);
}

.header {
    color: var(--dark);
    background-color: var(--accentblue);
    border-radius: 1rem;
    padding: 1.3rem;
    font-size: 2.4rem;
    font-family: 'Inconsolata', monospace;
}

.form input {
    border-radius: .9rem;
    height: 35px;
    width: 100%;
    border: var(--btnborder);
    box-shadow: var(--btnboxshadow);
    font-size: 1.2rem;
    padding: 1rem;
    outline: none;
}

.form input::placeholder {
    color: var(--dark)
}

.form input:focus {
    box-shadow: var(--hoverboxshadow);
    border: var(--hoverborder);
}

.login-btn {
    border-radius: 0.9rem;
    padding: .8rem;
    background-color: var(--accentblue);
    font-size: 1.2rem;
    color: var(--dark);
    border: var(--btnborder);
    box-shadow: var(--btnboxshadow);
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}

.login-btn:hover {
    color: var(--accent);
    border: var(--hoverborder);
    box-shadow: var(--hoverboxshadow);
    background-color: var(--blue);
}

.to-signup-btn {
    color: var(--dark);
    font-weight: 500;
}

.signup-link {
    color: var(--dark);
    font-weight: 500;
}

.login-error {
    color: var(--dark);
    font-weight: 500;
}

@media screen and (max-width: 640px) {
    .form {
        width: 280px;
        padding: 2 1rem;
        margin-bottom: .5rem;
    }

    .header {
        font-size: 1.8rem;
    }

    .form input {
        font-size: .8rem;
    }

    .login-btn {
        font-size: .8rem;
    }
}